 h1{
font-size: 200%;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:hsl(0, 88%, 68%);
        text-align: center;
        font-size: 30px;

 }
 body{
        background-image: url(../פןב/רקע.jpg);

 }


 